:root {
  --main-color: #f0648f;
  --secondary-color: #af7dd5;
  --third-color: #e68d94;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: rgb(19, 17, 17);
}

/* @font-face {
  font-family: "Azonix";
  src: local("Azonix"), url(../public/Azonix.otf) format("truetype");
} */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--white-color);
  color: var(--black-color);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
